<div class="flex column col-12 g-2 align-center justify-center manipulated">
    <div class="flex flex-1 column g-1 col-11 h-4">
        <h2>Crie sua conta</h2>
        <p>preechar os campos abaixo para cadastro</p>
    </div>
    <div class="flex column g-2 col-11 h-8">
        <input type="text" placeholder="Nome" class="text-field" id="name-field">
        <input type="text" placeholder="Senha" class="text-field" id="password-field">
        <input type="text" placeholder="Email" class="text-field" id="email-field">
        <div class=" flex row g-2 justify-end">
            <button class="btn-primary btn-voltar">Voltar</button>
            <button class="btn-primary btn-cadastrar">Cadastrar</button>
        </div>
    </div>
</div>