<div class="flex column col-12 g-2 align-center justify-center manipulated">
    <div class="flex column auto-h col-11 h-4">
        <h2>Login</h2>
        <p>preechar os campos abaixo para entrar</p>
    </div>
    <div class="flex column g-2 col-11 h-6">
        <input type="text" placeholder="Email" class="text-field" id="email-field">
        <input type="text" placeholder="Senha" class="text-field" id="password-field">
        <div class="flex row g-1 justify-end">
            <button class="btn-primary btn-voltar">Voltar</button>
            <button class="btn-primary btn-entrar">Entrar</button>
        </div>
    </div>

</div>